/*  ===== Project start =====*/

#projects {
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 5%;
    padding-top: 1%;
  }
  
  .project-container {
    /* border: 5px solid purple; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    height: 55vh;
    margin-top: 2%;
    /* margin-bottom: 35%; */
  }
  
  #container {
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
  }
  
  #container:hover {
    opacity: 0.8;
  }
  
  #test-container {
    /* border: 1px solid red; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .project-img {
    /* border: 1px solid blue; */
    max-width: 500px;
    margin-bottom: 35%;
  }
  
  .project-overlay {
    /* border: 3px solid gold; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -60%;
  }
  
  .project-span {
    color: rgb(0, 5, 5);
    font-size: large;
  }
  
  .projectbtn {
    /* border-radius: 35%; */
    background-color: transparent;
    border: transparent;
    font-size: medium;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
  /* ---project hover effect start---- */
  .projectbtn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  
  .projectbtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1d88ba;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
  .projectbtn:hover, .projectbtn:focus, .projectbtn:active {
    color: white;
  }
  
  .projectbtn:hover:before, .projectbtn:focus:before, .projectbtn:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
    /* ---project button hover effect end---- */
  
/*  ===== Project end =====*/


/*  ====Project details START==== */
.details {
    /* border: 1px solid red; */
    margin-top: 5%;
    padding: 4rem 0 4rem 0;
}

    /* ----details header start---- */

.details-header {
    /* border: 1px solid purple; */
    padding: 10px 14px 10px 14px;
}

.details-container {
    /* border: 1px solid goldenrod; */
    margin-left: auto;
    margin-right: auto;
    max-width: 72rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-img {
    margin-left: 1rem;
}

.project-details {
    /* border: 1px solid lime; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.details-name {
    font-weight: bold;
    font-size: 3.75rem;
    line-height: 1;
    letter-spacing: -0.05em;
    text-align: center;
}

.details-header-container {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
}

.details-subheader {
    /* border: 1px dashed gold; */
    display: block;
    text-align: center;
}

.detailsbtn-container {
    /* border: 1px solid gold; */
    gap: 0.75rem;
    display: flex;
    flex-direction: row;
}

.detailsbtn {
    border-radius: 15px; 
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    line-height: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 7px #ffffff;
    background-color: blue;
}

.detailsbtn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px)
}

.detailsbtn:hover {
    background-color: gold;
}
    /* ----details header end---- */

.details-bottom {
    /* border: 1px solid red; */
    max-width: 56rem;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
}

.details-built {
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 2.25rem;
    letter-spacing: -0.05rem;
}

.details-ul {
    gap: 1.75rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.details-li {
    /* width: 6rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.details-stacks {
    /* font-size: 1rem; */
    font-weight: bold;
    line-height: 1rem;
}

.details-desc {
    text-align: center;
    padding: 0 2rem 0 2rem;
}
/*  ====Project details END==== */