@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.body {
  font-family: 'Permanent Marker', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  /* background-color: black; */
}

ul, li, a{
  list-style-type: none;
  text-decoration: none;
  color: limegreen;
}





